<h1>Login Page</h1>
<form action='' method='post'>
    {{#if error}} <p class='error'>{{error.message}}</p> {{/if}}
    <label for='username'>Username
        <input type='text' placeholder='username' name='username' />
    </label>
    <label for='password'>Password
        <input type='password' placeholder='password123' name='password' />
    </label>
    <input type='submit' value='Login' />
</form>