.add-btn-container {
    text-align: right;
    margin-bottom: 5px;
}

.add-btn-container button {
    background-color: #317b6a;
    border-radius: 0;
}

.add-btn-container button:hover {
    box-shadow: 1px 2px 8px rgb(48, 48, 48);
}