<h1>Home page</h1>
<p>Welcome to Cookies demo</p>
<a href='/set'>Set Cookie</a>
<a href='/get'>Cookie Reader</a>
<div>
    <a href='/use-light'>Use Light Theme</a>
    <a href='/use-dark'>Use Dark Theme</a>
</div>
<div>
    <a href='/set-session'>Set Session</a>
    <a href='/get-session'>Get Session</a>
</div>