@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: PT Sans;
}

body {
    padding-inline: 5em;
}

.site-header {
    background-image: linear-gradient(rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0.25)), url("./image/computer-main.jpg");
    background-size:cover;
    background-position:center;
    color: white;
}


.top-bar ,.intro {
    z-index: 2;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 11em;
    font-size: 1.1em;
    font-weight: 100;
}

.site-name, .cart {
    text-decoration: none;
    color: white;
}

.fa-gg, .fa-cart-shopping{
    font-size: 1.3em;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.7em;
    padding-top: 1em;
}

.intro-heading {
    font-size: 4em;
}

.intro-p {
    font-size: 1.5em;
    width: 22em;
    text-align: center;
}

.btn-buy {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.46em 1.55em;
    background-color: #00D08E;
    margin-block: 2em;
    border-radius: 0.3em;
    color: white;
    width: 7em;
    height: 2.5em;
    border: 3px solid #00D08E;
}

.btn-buy:hover {
    border: 3px solid white;
    background-color: initial;
    border-radius: initial;
}

.btn-action {
    text-decoration: none;
    font-size: 1.2em;
    margin-bottom: 4em;
    color: white;
}

.fa-arrow-right {
    background-color: white;
    color: black;
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.3em;
    margin-left: 0.6em;
    padding-top: 0.26em;
    text-align: center;
    font-size: 0.8em;
}

.tablet {
    display: flex;
}

.tablet-image {
    flex-basis: 50%;
    overflow: hidden;
    object-fit: contain;
}

.tablet-image img {
    width: 100%;
    height: 100%;
}

.tablet-info {
    flex-basis: 50%;
    padding: 1.5em 4em;
}

.tablet-heading {
    font-size: 2.3em;
}

.tablet-info-p {
    font-size: 1.5em;
    padding-block: 0.4em 1.6em;
}

.tablet-info-list-item {
    padding-bottom: 1.3em;
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.fa-check {
    width: 1.5em;
    height: 1.5em;
    border-radius: 1.2em;
    background-color: #00D08E;
    color: white;
    padding-top: 0.3em;
    padding-left: 0.3em;
    margin-top: 0.2em;
    font-size: 0.8em;
}

.hustle {
    display: flex;
}

.hustle-info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.hustle-image {
    flex-basis: 50%;
    overflow: hidden;
}

.hustle-image img {
    width: 100%;
    height: 100%;
}

.perfect-for-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding-inline: 3em;
}

.perfect-for-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-basis: 25%;
}

.perfect-for-list-item-p {
    font-weight: bold;
    font-size: 1.5em;
    color: #00D08E;
    padding-bottom: 0.3em;
}

.img-wrapper {
    width: 60%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: auto;
}

.questions {
    background-color: #B2F1DD;
    display: flex;
    flex-direction: column;
    gap: 3em;
    justify-content: center;
    align-items: center;
    padding: 2em 5em;
}

.questions-heading {
    font-size: 2.3em;
}

.questions-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6em;
}

.questions-list-item {
    flex-basis: 27.5%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    padding-inline: 1em;
}

.questions-list-item-heading {
    font-size: 1.3em;
    font-weight: bold;
}

footer {
    padding: 1.5em;
    margin-top: -1em;
    text-align: center;
    background-color: #B2F1DD;
}

.bold {
    font-weight: bold;
    color: black;
    text-decoration: none;
}