body {
    text-align: left;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 2em 2em;
}
h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}
ul li {
    list-style: square;
}
ul ul li {
    list-style: disc;
}
ul ul ul li {
    list-style: circle;
}