<h1>Home Page</h1>
<p>This is the validation demo</p>
<form method='post'>
    <h2>Register</h2>
    {{#each errors}}
        <p>{{this}}</p>
    {{/each}}
    <label {{#if errors.email}}class="error"{{/if}}>Email:
        <input type='text' name='email' {{#if data.email}}value="{{data.email}}"{{/if}}/>
    </label>
    <label {{#if errors.password}}class="error"{{/if}}>Password:
        <input type='password' name='password' />
    </label>
    <label {{#if errors.repass}}class="error"{{/if}}>Repeat-password
        <input type='password' name='repass' />
    </label>
    <input type='submit' value='Register' />
</form>