* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    width: 20em;
    border: 1px solid lightgrey;
    box-shadow: 0 0 1em 0.4em rgb(0, 0, 0, 0.2);
    padding: 1em 1em 2em 1em;
}