<article class='intro-right-side-content'>
    <img src='/static/img/technology.png' alt='technology' />
    <h5>
        {{headline}}
        <span>Candidates: {{applicationsCount}}</span>
    </h5>
</article>