.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 12em;
    gap: 2em;
}

.work-title {
    font-size: 2em;
}

.work-section {
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid lightgray;
}

.work-section-title {
    background-color: #85DCFF;
    padding: 1.5em 0 1em 1.5em;
    font-size: 1.2em;
}

.work-section-p {
    padding: 1.5em 1.5em 2em 1.5em;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.8em;

}
