<section id='edit-profile-page'>

    <article class='edit-profile-page-container'>
        <form method='post' class='edit-profile-page-form'>
            <h2>Your Info</h2>

            <label for='email'>Email:</label>
            <input type='text' id='email' placeholder='petar@abv.bg' name='email' {{#if data.email}}value="{{data.email}}"{{/if}}/>

            <label for='password'>Password:</label>
            <input type='password' id='password' placeholder='******' name='password' />

            <label for='repeat-password'>Repeat Password:</label>
            <input type='password' id='repeat-password' placeholder='******' name='repass' />

            <label for='description'>Description of your skills:</label>
            <input type='text' id='description' placeholder='Experience with HTML 5, CSS 3, Node.js' name='description' {{#if data.description}}value="{{data.description}}"{{/if}}/>

            <article class='edit-profile-page-button'>
                <button class='btn-edit-profile'>Save</button>
            </article>

            <article class='account'>
                <p>Don't want to change anything? <a href='/profile'>Go back</a></p>
            </article>

        </form>

        <article class='edit-profile-page-image'>
            <img src='/static/img/job.png' alt='image' />
        </article>
    </article>

</section>