@media screen and (max-width: 600px) {
    main .left-to-right article {
        border-radius: 6em;
        padding: 1.7em 2.3em;
    }

    header h1 {
        font-size: 2.2rem;
    }

    button {
        display: none;
    }

    main section:nth-child(2) {
        flex-direction: column;
    }

    main .left-to-right article {
        height: 380px;
    }

    main section:nth-child(4) {
        flex-direction: column;
    }

    .left-to-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-to-right:nth-child(1) {
        padding: 55px 50px 120px 50px;
        height: auto;
    }

    main section:nth-child(4) article {
        align-items: center;
        margin-left: initial;
        margin-bottom: 100px;
    }

    main section:nth-child(4) article img {
        width: 70%;
        margin-bottom: -120px;
    }

    form {
        width: 80%;
        position: relative;
    }

    form input[type="submit"] {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 100px;
    }

    main section:nth-child(2) article img {
        width: 110%;
        margin-left: -1em;
    }

    section form label input, section form textarea {
        width: 100%;
    }
}
